extends layout

block body
  div
      div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')
  script(src='js/ui/app.js')
  script(type='text/javascript', src='js/jquery-ui-1.10.3.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.6.0.js')
  script(type='text/javascript', src='js/bootstrap.min.js')


