!!!
html(ng-app="KnowledgeBase")
  head
    meta(charset='utf8')
    base(href='/')
    title Knowledge Base
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    script(type='text/javascript',src='js/lib/jquery/jquery.min.js')
  body(class="wysihtml5-supported  pace-done")
    block body